<div class="title-group">
  <h1 class="mat-h1">Add New Vehicle</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="carForm" (ngSubmit)="submitCarForm()" #resetCarForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Car make" formControlName="car_make">
          <mat-error *ngIf="handleError('car_make', 'required')">
            You must provide a<strong>car make</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Car model" formControlName="car_model">
          <mat-error *ngIf="handleError('car_model', 'required')">
            You must provide a<strong>car model</strong>
          </mat-error>
        </mat-form-field>

        <!-- Section -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Car trim" formControlName="car_trim">
          <mat-error *ngIf="handleError('car_trim', 'required')">
            You must provide a<strong>car trim</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Add subjects -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Car mileage" formControlName="car_mileage">
          <mat-error *ngIf="handleError('car_mileage', 'required')">
            You must provide a<strong>car mileage</strong>
          </mat-error>
        </mat-form-field>

        <!-- Date of birth -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Car year" formControlName="car_year"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('car_year', 'required')">
            Car Year is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>